doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Bootstrap

body
  header
    #navbarHeader.collapse.bg-dark
      .container
        .row
          .col-sm-8.col-md-7.py-4
            h4.text-white About
            p.text-muted
              | Add some information about the album below, the author, or any other background
              | context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off
              | to some social networking sites or contact information.
          .col-sm-4.offset-md-1.py-4
            h4.text-white Contact
            ul.list-unstyled
              li
                a.text-white(href='#') Follow on Twitter
              li
                a.text-white(href='#') Like on Facebook
              li
                a.text-white(href='#') Email me
    .navbar.navbar-dark.bg-dark.box-shadow
      .container.d-flex.justify-content-between
        a.navbar-brand.d-flex.align-items-center(href='#')
          svg.mr-2(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z')
            circle(cx='12' cy='13' r='4')
          strong Album
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarHeader' aria-controls='navbarHeader' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
  main(role='main')
    section.jumbotron.text-center
      .container
        h1.jumbotron-heading Album example
        p.lead.text-muted
          | Something short and leading about the collection below&mdash;its contents, the creator,
          | etc. Make it short and sweet, but not too short so folks don&apos;t simply skip over it entirely.
        p
          a.btn.btn-primary.my-2(href='#') Main call to action
          a.btn.btn-secondary.my-2(href='#') Secondary action
    .album.py-5.bg-light
      .container
        .row
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e8b16ccdc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e8b16ccdc%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional
                  | content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e8b16ccdc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e8b16ccdc%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional
                  | content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e8b16ccdc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e8b16ccdc%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional
                  | content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e8b16ccdc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e8b16ccdc%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional
                  | content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e8b16ccdc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e8b16ccdc%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional
                  | content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e8b16ccdc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e8b16ccdc%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional
                  | content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e8b16ccdc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e8b16ccdc%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional
                  | content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e8b16ccdc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e8b16ccdc%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional
                  | content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col-md-4
            .card.mb-4.box-shadow
              img.card-img-top(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e8b16ccdc%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e8b16ccdc%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.71875%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E' alt='Card image cap')
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional
                  | content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
  footer.text-muted
    .container
      p.float-right
        a(href='#') Back to top
      p Album example is &copy; Bootstrap, but please download and customize it for yourself!
      p
        | New to Bootstrap? 
        a(href='#') Visit the homepage
        |  or read our 
        a(href='#') getting started guide
        | .
